<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<%= form_for @post do |f| %>
  <%= f.label :url, "Link to Photo" %>
  <%= f.text_field :url %>
  <br>
  <%= f.label :body, "Caption" %>
  <%= f.text_field :body %>
  <br>
  <%= f.label :user_id, "User ID" %>
  <%= f.text_field :user_id %>
  <%= f.submit "Add Photo" %>
<% end %>

<br>

<%= render @user.posts %>