<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<% if current_user == @user %>
  <%= form_for @post do |f| %>
    <%= f.label :body, "Caption" %>
    <%= f.text_field :body %>
    <%= f.submit "Update Photo" %>
  <% end %>
<% end %>

<%= form_for @tag do |f| %>
  <%= f.label :name, "Tag" %>
  <%= f.text_field :name %>
  <%= hidden_field_tag :post_id, @post.id %>
  <%= f.submit "Add Tag" %>
<% end %>

<p>Tags: <%= tag_links(@post) %></p>

<%= image_tag(@post.url) %>

<% if current_user == @user %>
  <%= button_to "Delete Post", post_path(@user), method: :delete %>
<% end %>